          {{#each suggestions}}
          <li class="p-2 bg-white border-b cursor-pointer hover:bg-sage-light" onclick="selectSuggestion('{{this}}')">
            {{this}}
          </li>
          {{/each}}
