<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Life Tracker - Time Tracker</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <link href="/tracker/s/css/output.css" rel="stylesheet">
</head>

<body class="bg-base-100">
  <div class="flex flex-col items-center space-y-4 max-w-xs mx-auto p-4">
    <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
      <legend class="fieldset-legend text-xl">Time Tracker</legend>

      <label class="fieldset-label text-lg">What are you working on now?</label>
      <input id="taskInput" type="text" name="taskInput" hx-get="/tracker/app/autocomplete"
        hx-trigger="keyup changed delay:500ms" hx-target="#suggestions" hx-swap="innerHTML" class="input w-full text-lg"
        placeholder="Type your task..." />
      <ul id="suggestions" class="mt-2 text-lg"></ul>

      <div id="tags" hx-get="/tracker/api/page/tags" 
        hx-trigger="load" hx-target="#tags" 
        hx-swap="innerHTML" class="mt-2">
       
      </div>

      <button class="btn btn-primary w-full mt-2 text-lg" onclick="submitTask(event)">
        Submit
      </button>
    </fieldset>
    <div class="card w-full bg-base-100 shadow-lg">
      <ul id="results" class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Task List</li>

        {{#each tasks}}
        <li class="list-row justify-between" id="task-{{this.id}}">
          <div>
            <div class="font-semibold">{{this.title}}</div>
            <div class="text-xs opacity-60">{{this.description}}</div>
          </div>
          
          <button class="btn btn-square btn-ghost align-top" onclick="markTaskStopped(this, {{this.id}})">
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" 
              viewBox="0 0 24 24" 
              stroke-width=".6" stroke="currentColor" class="size-[1.5em]">
              <path
                d="m22.389,5.418l-3.808-3.808c-1.04-1.039-2.42-1.61-3.889-1.61h-5.385c-1.469,0-2.85.572-3.889,1.611l-3.808,3.808c-1.039,1.04-1.61,2.42-1.61,3.889v5.385c0,1.469.572,2.85,1.611,3.889l3.808,3.808c1.04,1.039,2.42,1.61,3.889,1.61h5.385c1.469,0,2.85-.572,3.889-1.611l3.808-3.808c1.039-1.04,1.61-2.42,1.61-3.889v-5.385c0-1.469-.572-2.85-1.611-3.889Zm-1.389,9.274c0,.667-.26,1.296-.732,1.768l-3.808,3.807c-.472.472-1.101.732-1.768.732h-5.385c-.667,0-1.296-.26-1.768-.732l-3.807-3.808c-.472-.472-.732-1.101-.732-1.768v-5.385c0-.667.26-1.296.732-1.768l3.808-3.807c.472-.472,1.101-.732,1.768-.732h5.385c.667,0,1.296.26,1.768.732l3.807,3.808c.472.472.732,1.101.732,1.768v5.385Zm-3.407-6.22c.567.604.538,1.553-.065,2.12l-4.145,3.896c-.699.7-1.629,1.052-2.565,1.052-.946,0-1.898-.36-2.622-1.084l-1.795-1.938c-.563-.608-.526-1.557.082-2.12.608-.563,1.557-.527,2.12.082l1.755,1.896c.23.229.668.229.938-.042l4.178-3.928c.604-.569,1.553-.539,2.12.065Z" />
            </svg>
          </button>
        </li>
        {{/each }}
      </ul>
    </div>
  </div>
  <div hx-get="./footer" hx-trigger="load"></div>

  <script src="/tracker/s/js/script.js"></script>
</body>

</html>